/*删除弹框，新建设备类别弹框，重命名设备弹框公共样式*/
.equipmentInfo {
  width: 100%;
  overflow: hidden;
}
.equipmentInfo .addDialogVisible .el-dialog {
  margin-top: 40vh !important;
}
.equipmentInfo .addDialogVisible .el-dialog .el-dialog__body {
  padding: 15px 20px 5px;
}
.equipmentInfo .addDialogVisible .el-dialog .el-dialog__body .el-form .el-form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.equipmentInfo .addDialogVisible .el-dialog .el-dialog__body .el-form .el-form-item__label {
  font-size: 16px;
  width: auto !important;
  color: #888888;
  position: relative;
}
.equipmentInfo .addDialogVisible .el-dialog .el-dialog__body .el-form .el-form-item__label:before {
  content: "";
  color: #f56c6c;
}
.equipmentInfo .addDialogVisible .el-dialog .el-dialog__body .el-form .el-form-item__label:after {
  content: "*";
  color: #f56c6c;
}
.equipmentInfo .addDialogVisible .el-dialog .el-dialog__body .el-form .el-form-item__content {
  flex-grow: 1;
  margin-left: 15px !important;
}
.equipmentInfo .addDialogVisible .el-dialog .el-dialog__body .el-form .el-input input {
  outline: none;
  border: 1px solid #e2e2e2 !important;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}
.equipmentInfo .addDialogVisible .el-dialog .el-dialog__footer {
  padding: 0 20px 20px;
}
.equipmentInfo .addDialogVisible .el-dialog .el-dialog__footer .submit {
  background: #FE8127;
  width: 80px;
  height: 30px;
  padding: 0;
  border-color: #FE8127;
  margin-right: 30px;
  font-size: 14px;
}
.equipmentInfo .addDialogVisible .el-dialog .el-dialog__footer .submit:hover {
  background: #e77a2b;
  border-color: #e77a2b;
}
.equipmentInfo .addDialogVisible .el-dialog .el-dialog__footer .submit:active {
  background: #b65916;
  border-color: #b65916;
}
.equipmentInfo .addDialogVisible .el-dialog .el-dialog__footer .cancel {
  background: none;
  border: 1px solid #FE8127;
  height: 30px;
  width: 80px;
  padding: 0;
  color: #FE8127;
  font-size: 14px;
}
.equipmentInfo .addDialogVisible .el-dialog .el-dialog__footer .cancel:hover {
  color: #e77a2b;
  border-color: #e77a2b;
}
.equipmentInfo .addDialogVisible .el-dialog .el-dialog__footer .cancel:active {
  color: #b65916;
  border-color: #e77a2b;
}
.equipmentInfo .editDialogVisible .el-dialog {
  margin-top: 40vh !important;
}
.equipmentInfo .editDialogVisible .el-dialog .el-dialog__body {
  padding: 15px 20px 5px;
}
.equipmentInfo .editDialogVisible .el-dialog .el-dialog__body .el-form .el-form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.equipmentInfo .editDialogVisible .el-dialog .el-dialog__body .el-form .el-form-item__label {
  font-size: 16px;
  width: auto !important;
  color: #888888;
  position: relative;
}
.equipmentInfo .editDialogVisible .el-dialog .el-dialog__body .el-form .el-form-item__label:before {
  content: "";
  color: #f56c6c;
}
.equipmentInfo .editDialogVisible .el-dialog .el-dialog__body .el-form .el-form-item__label:after {
  content: "*";
  color: #f56c6c;
}
.equipmentInfo .editDialogVisible .el-dialog .el-dialog__body .el-form .el-form-item__content {
  flex-grow: 1;
  margin-left: 15px !important;
}
.equipmentInfo .editDialogVisible .el-dialog .el-dialog__body .el-form .el-input input {
  outline: none;
  border: 1px solid #e2e2e2 !important;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}
.equipmentInfo .editDialogVisible .el-dialog .el-dialog__footer {
  padding: 0 20px 20px;
}
.equipmentInfo .editDialogVisible .el-dialog .el-dialog__footer .submit {
  background: #FE8127;
  width: 80px;
  height: 30px;
  padding: 0;
  border-color: #FE8127;
  margin-right: 30px;
  font-size: 14px;
}
.equipmentInfo .editDialogVisible .el-dialog .el-dialog__footer .submit:hover {
  background: #e77a2b;
  border-color: #e77a2b;
}
.equipmentInfo .editDialogVisible .el-dialog .el-dialog__footer .submit:active {
  background: #b65916;
  border-color: #b65916;
}
.equipmentInfo .editDialogVisible .el-dialog .el-dialog__footer .cancel {
  background: none;
  border: 1px solid #FE8127;
  height: 30px;
  width: 80px;
  padding: 0;
  color: #FE8127;
  font-size: 14px;
}
.equipmentInfo .editDialogVisible .el-dialog .el-dialog__footer .cancel:hover {
  color: #e77a2b;
  border-color: #e77a2b;
}
.equipmentInfo .editDialogVisible .el-dialog .el-dialog__footer .cancel:active {
  color: #b65916;
  border-color: #e77a2b;
}
.equipmentInfo .delDialogVisible .el-dialog {
  margin-top: 40vh !important;
}
.equipmentInfo .delDialogVisible .el-dialog .el-dialog__body {
  padding: 15px 20px 5px;
}
.equipmentInfo .delDialogVisible .el-dialog .el-dialog__body .el-form .el-form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.equipmentInfo .delDialogVisible .el-dialog .el-dialog__body .el-form .el-form-item__label {
  font-size: 16px;
  width: auto !important;
  color: #888888;
  position: relative;
}
.equipmentInfo .delDialogVisible .el-dialog .el-dialog__body .el-form .el-form-item__label:before {
  content: "";
  color: #f56c6c;
}
.equipmentInfo .delDialogVisible .el-dialog .el-dialog__body .el-form .el-form-item__label:after {
  content: "*";
  color: #f56c6c;
}
.equipmentInfo .delDialogVisible .el-dialog .el-dialog__body .el-form .el-form-item__content {
  flex-grow: 1;
  margin-left: 15px !important;
}
.equipmentInfo .delDialogVisible .el-dialog .el-dialog__body .el-form .el-input input {
  outline: none;
  border: 1px solid #e2e2e2 !important;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}
.equipmentInfo .delDialogVisible .el-dialog .el-dialog__footer {
  padding: 0 20px 20px;
}
.equipmentInfo .delDialogVisible .el-dialog .el-dialog__footer .submit {
  background: #FE8127;
  width: 80px;
  height: 30px;
  padding: 0;
  border-color: #FE8127;
  margin-right: 30px;
  font-size: 14px;
}
.equipmentInfo .delDialogVisible .el-dialog .el-dialog__footer .submit:hover {
  background: #e77a2b;
  border-color: #e77a2b;
}
.equipmentInfo .delDialogVisible .el-dialog .el-dialog__footer .submit:active {
  background: #b65916;
  border-color: #b65916;
}
.equipmentInfo .delDialogVisible .el-dialog .el-dialog__footer .cancel {
  background: none;
  border: 1px solid #FE8127;
  height: 30px;
  width: 80px;
  padding: 0;
  color: #FE8127;
  font-size: 14px;
}
.equipmentInfo .delDialogVisible .el-dialog .el-dialog__footer .cancel:hover {
  color: #e77a2b;
  border-color: #e77a2b;
}
.equipmentInfo .delDialogVisible .el-dialog .el-dialog__footer .cancel:active {
  color: #b65916;
  border-color: #e77a2b;
}
.equipmentInfo .delDialogVisible .delDialogVisible_tip {
  margin-bottom: 15px;
}
.equipmentInfo .row-left {
  float: left;
  width: 200px;
  height: calc(100vh - 54px);
  background: #fff;
  margin-left: 14px;
  font-weight: 400;
  color: #333;
}
.equipmentInfo .row-left .row-left_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-right: 22px;
}
.equipmentInfo .row-left .row-left_title h3 {
  margin: 20px 20px 14px;
}
.equipmentInfo .row-left .row-left_title .row-left_icon {
  font-size: 24px;
  cursor: pointer;
}
.equipmentInfo .row-left .el-tree .custom-tree-node {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.equipmentInfo .row-left .el-tree .el-tree-node__content {
  position: relative;
}
.equipmentInfo .row-left .el-tree .el-tree-node__content .custom-tree-btn .right {
  width: 30px;
  height: 30px;
  background: url("../../../../../../../static/images/icon/menu.png") no-repeat center center;
  padding-left: 30px;
  z-index: 888;
}
.equipmentInfo .row-left .el-tree .el-tree-node__content .el-tree-node__expand-icon {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}
.equipmentInfo .row-left .el-tree .el-tree-node__content .el-tree-node__expand-icon.expanded {
  background: url("../../../../../../../static/images/icon/jian.png") no-repeat center center;
  background-size: 90%;
  margin: 0 5px 0 15px;
}
.equipmentInfo .row-left .el-tree .el-tree-node__content .el-tree-node__expand-icon {
  background: url("../../../../../../../static/images/icon/add.png") no-repeat center center;
  background-size: 90%;
  margin: 0 5px 0 15px;
}
.equipmentInfo .row-left .el-tree .el-tree-node__content .el-tree-node__expand-icon.is-leaf {
  background: none;
}
.equipmentInfo .row-left .el-tree .el-tree-node__content .el-icon-caret-right:before {
  content: '';
}
.equipmentInfo .row-left .el-tree .el-tree-node__content .el-tree-node__expand-icon.expanded {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.equipmentInfo .row-right {
  float: left;
  width: calc(100% - 214px);
  height: calc(100vh - 54px);
  padding: 15px;
}
.equipmentInfo .row-right .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 20px 40px;
  margin-bottom: 15px;
}
.equipmentInfo .row-right .top .top_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.equipmentInfo .row-right .top .top_left .el-button {
  border: 0;
}
.equipmentInfo .row-right .top .top_left .el-button span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.equipmentInfo .row-right .top .top_left .el-button span img {
  margin-bottom: 10px;
}
.equipmentInfo .row-right .top .top_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.equipmentInfo .row-right .top .top_right .searchInput {
  max-width: 250px;
}
.equipmentInfo .row-right .top .top_right .top_right_item {
  margin-right: 30px;
}
.equipmentInfo .row-right .top .top_right .el-input__inner {
  border: 1px solid #b8b8b8;
}
.equipmentInfo .row-right .top .top_right input::-webkit-input-placeholder {
  color: #777777;
}
.equipmentInfo .row-right .top .top_right input:-moz-placeholder {
  color: #777777;
}
.equipmentInfo .row-right .top .top_right input::-moz-placeholder {
  color: #777777;
}
.equipmentInfo .row-right .top .top_right input:-ms-input-placeholder {
  color: #777777;
}
.equipmentInfo .row-right .top .top_right .el-icon-arrow-up:before {
  color: #777777;
}
.equipmentInfo .row-right .top .top_right .fromDate .el-input__prefix {
  left: inherit;
  right: 5px;
  padding-left: 0;
}
.equipmentInfo .row-right .top .top_right .fromDate .el-input__prefix .el-icon-date {
  line-height: 30px;
}
.equipmentInfo .row-right .top .top_right .fromDate .el-input__prefix .el-icon-date:before {
  content: '' !important;
  width: 0;
  height: 0;
  overflow: hidden;
}
.equipmentInfo .row-right .top .top_right .fromDate .el-input__prefix .el-icon-date:after {
  content: '\E608';
  width: 28px;
  line-height: 42px;
}
.equipmentInfo .row-right .top .top_right .fromDate .el-input__suffix .el-input__suffix-inner .el-input__icon {
  width: 10px;
}
.equipmentInfo .row-right .top .top_right .searchInput {
  max-width: 250px;
}
.equipmentInfo .row-right .top .top_right .searchInput .el-input-group__append {
  background-color: transparent;
  border: none;
}
.equipmentInfo .row-right .top .top_right .searchInput .el-input-group__append .searchBtn {
  background-color: #597398;
  border: 1px solid #597398;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.equipmentInfo .row-right .top .top_right .searchInput .el-input-group__append .searchBtn span {
  color: #ffffff;
}
.equipmentInfo .row-right .top .top_right .searchInput .el-input-group__append .searchBtn:active {
  background-color: #405d87;
  border: 1px solid #405d87;
}
.equipmentInfo .row-right .top .top_right .searchInput .el-input-group__append .searchBtn:hover {
  background-color: #405d87;
  border: 1px solid #405d87;
}
.equipmentInfo .row-right .top .top_right .searchInput .el-input-group__append .is-disabled {
  background-color: #abb6c5;
  border: 1px solid #abb6c5;
}
.equipmentInfo .row-right .top .top_right .searchInput .el-input-group__append .is-disabled:active {
  background-color: #98a3b3;
  border: 1px solid #98a3b3;
}
.equipmentInfo .row-right .top .top_right .searchInput .el-input-group__append .is-disabled:hover {
  background-color: #98a3b3;
  border: 1px solid #98a3b3;
}
.equipmentInfo .row-right .top-btns {
  background-color: #fff;
  margin-bottom: 14px;
  padding: 16px 40px 18px;
}
.equipmentInfo .row-right .top-btns .el-button {
  border: none;
  margin-right: 16px;
  margin-left: 0;
  padding: 0;
  color: #333333;
}
.equipmentInfo .row-right .top-btns .el-button img {
  display: block;
  height: 27px;
  width: auto;
  margin: 0 auto 10px;
}
.equipmentInfo .row-right .top-btns .search {
  float: right;
  width: 40%;
}
.equipmentInfo .row-right .top-btns .search .filter_early_warning {
  margin-top: 5px;
  float: left;
}
.equipmentInfo .row-right .top-btns .search .filter_early_warning .early_warning_input {
  float: left;
  margin-right: 15px;
  position: relative;
}
.equipmentInfo .row-right .top-btns .search .filter_early_warning .early_warning_input input[type="radio"] {
  width: 15px;
  height: 15px;
  opacity: 0;
}
.equipmentInfo .row-right .top-btns .search .filter_early_warning .early_warning_input label {
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  display: block;
}
.equipmentInfo .row-right .top-btns .search .filter_early_warning .early_warning_input input:checked + label {
  border: 1px solid #409eff;
}
.equipmentInfo .row-right .top-btns .search .filter_early_warning .early_warning_input input:checked + label::after {
  position: absolute;
  top: 0;
  left: 4px;
  content: "";
  width: 4px;
  height: 10px;
  border: 2px solid #409eff;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}
.equipmentInfo .row-right .top-btns .search .filter_early_warning .early_warning_p {
  float: left;
  margin-top: -3px;
}
.equipmentInfo .row-right .top-btns .search .el-input-group {
  float: right;
  width: 200px;
  height: 30px;
  border: 1px solid #b8b8b8;
  border-radius: 2px;
}
.equipmentInfo .row-right .top-btns .search .el-input-group .el-input__inner {
  border: none;
  height: 30px;
}
.equipmentInfo .row-right .top-btns .search .el-input-group .el-input-group__append {
  width: 50px;
  height: 30px;
  background: #597398;
  border: 0px;
  border-radius: 0px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 0;
}
.equipmentInfo .row-right .top-btns .search .el-input-group .el-input-group__append .el-button {
  color: #fff;
  margin: 0 11px;
}
.equipmentInfo .Table {
  width: 100%;
  background: #ddd;
}
.equipmentInfo .Table .el-table {
  color: #777;
}
.equipmentInfo .Table .el-table .el-table-column--selection .cell {
  padding-left: 30px;
}
.equipmentInfo .Table .el-table thead {
  color: #333;
}
.equipmentInfo .Table .el-table thead tr {
  background-color: #F5F5F5 !important;
}
.equipmentInfo .Table .el-table thead tr th {
  background-color: #F5F5F5 !important;
  padding: 19px 0;
}
.equipmentInfo .Table .el-table tbody th {
  padding: 15px 0;
}
.equipmentInfo .Table .el-table tbody tr td .cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.equipmentInfo .Table .el-checkbox__input .el-checkbox__inner {
  border: 1px solid #999999;
}
.equipmentInfo .Table .is-checked .el-checkbox__inner {
  background-color: #fff;
  border: 1px solid #3672C6;
}
.equipmentInfo .Table .el-checkbox__inner::after {
  border-right: 1px solid #3672C6;
  border-bottom: 1px solid #3672C6;
}
.equipmentInfo .addProceduce .el-dialog {
  width: 680px;
  height: 362px;
}
.equipmentInfo .addProceduce .el-dialog .el-dialog__body {
  height: 276px;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 0;
}
.equipmentInfo .addProceduce .el-dialog .el-dialog__title {
  font-weight: bold;
}
.equipmentInfo .addProceduce .el-dialog .el-row {
  margin-bottom: 16px;
  height: 24px;
  line-height: 24px;
}
.equipmentInfo .addProceduce .el-dialog .el-row .rowLabel {
  float: left;
  display: block;
  width: 56px;
  height: 24px;
  line-height: 24px;
  margin-right: 16px;
}
.equipmentInfo .addProceduce .el-dialog .el-row .rowContent {
  float: left;
  height: 24px;
  line-height: 24px;
}
.equipmentInfo .addProceduce .el-dialog .el-row .rowContent .el-input {
  width: 180px;
  height: 24px;
  line-height: 24px;
}
.equipmentInfo .addProceduce .el-dialog .el-row .rowContent .el-input .el-input__inner {
  height: 24px;
}
.equipmentInfo .addProceduce .el-dialog .el-row .rowContent .el-checkbox__label {
  padding-left: 3px;
}
.equipmentInfo .addProceduce .el-dialog .el-row .rowContent .disabledInput .el-input__inner {
  cursor: pointer;
  background: none;
}
.equipmentInfo .addProceduce .el-dialog .el-row .rowContent .el-input__icon {
  line-height: 24px;
}
.equipmentInfo .addProceduce .el-dialog .el-row .users {
  width: 347px;
  height: 150px;
  float: left;
  margin-left: 22px;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
}
.equipmentInfo .addProceduce .el-dialog .el-row .users .header {
  height: 24px;
  background: #f5f5f5;
  padding-left: 14px;
  line-height: 24px;
  vertical-align: middle;
  width: 333px;
  display: block;
}
.equipmentInfo .addProceduce .el-dialog .el-row .users .header .el-checkbox__input,
.equipmentInfo .addProceduce .el-dialog .el-row .users .header .el-checkbox__label {
  margin-bottom: 4px;
}
.equipmentInfo .addProceduce .el-dialog .el-row .users .header + div {
  margin: 10px !important;
}
.equipmentInfo .addProceduce .el-dialog .el-row .users .el-checkbox-group .el-checkbox {
  margin-left: 0px !important;
  width: 110px;
}
.equipmentInfo .addProceduce .el-dialog .el-row .users .el-checkbox-group .el-checkbox:nth-child(3n+1) {
  margin-left: 14px !important;
}
.equipmentInfo .addProceduce .el-dialog .productDept,
.equipmentInfo .addProceduce .el-dialog .checkDept {
  height: 150px;
}
.equipmentInfo .addProceduce .el-dialog .dialog-footer button {
  width: 80px;
  height: 30px;
  margin-left: 30px;
  padding: 0;
  text-align: center;
  line-height: 30px;
  background: none;
  border-radius: 4px;
  border-color: #fe8127;
  color: #fe8127;
}
.equipmentInfo .addProceduce .el-dialog .dialog-footer button:first-child {
  background: #fe8127;
  color: #fff;
}
.equipmentInfo .addProceduce .el-dialog .errorText {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #f56c6c;
}
.equipmentInfo .el-dialog {
  width: 400px;
}
.equipmentInfo .el-dialog .isRequired .el-form-item__label::after {
  content: "*";
  color: #f56c6c;
}
.equipmentInfo .el-dialog .isRequired .el-input {
  width: 90%;
}
.deptPopover {
  padding: 0px;
  min-height: 120px;
  max-height: 120px;
  overflow-y: auto;
  margin-top: 5px;
}
.product-tree-right-btn {
  padding: 10px !important;
  min-width: 65px;
}
.product-tree-right-btn .el-button {
  display: block !important;
  color: #333333 !important;
}
.product-tree-right-btn .el-button + .el-button {
  margin-left: 0;
}
.product-tree-right-btn[x-placement^=bottom] {
  margin-top: 0;
}
