.addStencil .el-dialog {
  width: 1180px;
  height: 530px;
  max-height: 530px;
  overflow-y: auto;
}
.addStencil .el-dialog .el-dialog__body {
  padding-top: 0;
}
.addStencil .el-dialog .slotDiv .addCont .el-form .baseInfon {
  margin-right: 192px;
  float: left;
}
.addStencil .el-dialog .slotDiv .addCont .el-form .baseInfon .el-form-item {
  float: left;
  width: 320px;
  margin-right: 54px;
  position: relative;
}
.addStencil .el-dialog .slotDiv .addCont .el-form .baseInfon .el-form-item:nth-child(3n) {
  margin-right: 0;
}
.addStencil .el-dialog .slotDiv .addCont .el-form .baseInfon .el-form-item .el-form-item__label {
  height: 28px;
  line-height: 28px;
}
.addStencil .el-dialog .slotDiv .addCont .el-form .baseInfon .el-form-item .errorText {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #f56c6c;
}
.addStencil .el-dialog .slotDiv .addCont .el-form .baseInfon .el-form-item .el-input {
  width: 240px;
}
.addStencil .el-dialog .slotDiv .addCont .el-form .baseInfon .el-form-item .el-form-item__content,
.addStencil .el-dialog .slotDiv .addCont .el-form .baseInfon .el-form-item .el-input,
.addStencil .el-dialog .slotDiv .addCont .el-form .baseInfon .el-form-item .el-input__inner,
.addStencil .el-dialog .slotDiv .addCont .el-form .baseInfon .el-form-item .el-select__caret {
  height: 28px;
  line-height: 28px;
}
.addStencil .el-dialog .slotDiv .addCont .el-form .baseInfon .isRequired .el-form-item__label::before {
  content: "*";
  color: #f56c6c;
  position: absolute;
  left: -6px;
}
.addStencil .el-dialog .slotDiv .addCont .el-form .baseChose {
  float: left;
  position: relative;
}
.addStencil .el-dialog .slotDiv .addCont .el-form .baseChose .el-radio__inner {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #CCCCCC;
  background-color: #fff;
}
.addStencil .el-dialog .slotDiv .addCont .el-form .baseChose .el-radio__inner::after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3672C6;
}
.addStencil .el-dialog .slotDiv .addCont .el-form .baseChose .el-radio {
  line-height: 40px;
}
.addStencil .el-dialog .slotDiv .addCont .el-form .baseChose .isRequired .el-form-item__label::before {
  content: "*";
  color: #f56c6c;
  position: absolute;
  left: -6px;
}
.addStencil .el-dialog .slotDiv .addCont .tableDate .table .el-table th:first-child .cell {
  font-weight: bolder;
  font-size: 22px;
  color: #3672C6;
  cursor: pointer;
}
.addStencil .el-dialog .slotDiv .addCont .tableDate .table .el-table th {
  padding: 8px 0;
  color: #333;
  background-color: #F5F5F5;
}
.addStencil .el-dialog .slotDiv .addCont .tableDate .table .el-table tr td:first-child .cell {
  cursor: pointer;
}
.addStencil .el-dialog .slotDiv .addCont .tableDate .table .el-table tr td {
  padding: 8px 0;
  color: #666;
  background-color: #fff;
}
.addStencil .el-dialog .slotDiv .addCont .tableDate .table .el-table tr td .el-input__inner {
  border: none;
}
.addStencil .el-dialog .slotDiv .dialog-footer {
  padding-top: 0;
  padding-bottom: 0px;
  height: 30px;
  margin-top: 20px;
}
.addStencil .el-dialog .slotDiv .dialog-footer .submit {
  background: #FE8127;
  width: 80px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  border-color: #FE8127;
  margin-right: 30px;
}
.addStencil .el-dialog .slotDiv .dialog-footer .submit:hover {
  background: #e77a2b;
  border-color: #e77a2b;
}
.addStencil .el-dialog .slotDiv .dialog-footer .submit:active {
  background: #b65916;
  border-color: #b65916;
}
.addStencil .el-dialog .slotDiv .dialog-footer .cancel {
  background: none;
  border: 1px solid #FE8127;
  height: 30px;
  width: 80px;
  padding: 0;
  line-height: 30px;
  color: #FE8127;
}
.addStencil .el-dialog .slotDiv .dialog-footer .cancel:hover {
  color: #e77a2b;
  border-color: #e77a2b;
}
.addStencil .el-dialog .slotDiv .dialog-footer .cancel:active {
  color: #b65916;
  border-color: #e77a2b;
}
.autoHeight .el-select-dropdown__list {
  max-height: 178px;
  overflow-y: auto;
}
