.photographDialog .el-dialog {
  width: 1180px;
  min-height: 500px;
  padding-bottom: 30px;
  position: relative;
}
.photographDialog .el-dialog .el-dialog__body {
  padding: 20px 30px 20px 30px;
  position: relative;
}
.photographDialog .el-dialog .el-dialog__body .closeDialog {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  font-size: 16px;
  color: #333;
}
.photographDialog .el-dialog .el-dialog__body .tabs {
  height: 28px;
  margin-bottom: 20px;
  width: 200px;
  border: 1px solid #e2e2e2;
}
.photographDialog .el-dialog .el-dialog__body .tabs p {
  float: left;
  width: 100px;
  text-align: center;
  line-height: 28px;
  background: #fff;
  cursor: pointer;
}
.photographDialog .el-dialog .el-dialog__body .tabs p.isActive {
  background: #3672c6;
  color: #fff;
}
.photographDialog .el-dialog .el-dialog__body .form {
  height: 52px;
}
.photographDialog .el-dialog .el-dialog__body .form .el-form-item {
  float: left;
  width: 320px;
  margin-right: 54px;
  position: relative;
  margin-bottom: 18px;
}
.photographDialog .el-dialog .el-dialog__body .form .el-form-item:nth-child(3n) {
  margin-right: 0;
}
.photographDialog .el-dialog .el-dialog__body .form .el-form-item .el-form-item__label {
  height: 28px;
  line-height: 28px;
}
.photographDialog .el-dialog .el-dialog__body .form .el-form-item .errorText {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #f56c6c;
}
.photographDialog .el-dialog .el-dialog__body .form .el-form-item .el-input {
  width: 240px;
}
.photographDialog .el-dialog .el-dialog__body .form .el-form-item .el-form-item__content,
.photographDialog .el-dialog .el-dialog__body .form .el-form-item .el-input,
.photographDialog .el-dialog .el-dialog__body .form .el-form-item .el-input__inner,
.photographDialog .el-dialog .el-dialog__body .form .el-form-item .el-select__caret {
  height: 28px;
  line-height: 28px;
}
.photographDialog .el-dialog .el-dialog__body .form .el-form-item .el-input__prefix {
  left: 210px!important;
  width: 25px;
}
.photographDialog .el-dialog .el-dialog__body .form .el-form-item .el-input__prefix .el-icon-date {
  line-height: 28px;
}
.photographDialog .el-dialog .el-dialog__body .form .el-form-item .el-date-editor .el-input__inner {
  padding-left: 15px;
}
.photographDialog .el-dialog .el-dialog__body .imgList {
  margin: 30px 0 0px 0;
}
.photographDialog .el-dialog .el-dialog__body .imgList #imagewrapper {
  width: 640px;
  height: 480px;
  background-size: 100% 100%;
  border: 1px solid #d5d5d5;
  margin: 0 auto;
}
.photographDialog .el-dialog .el-dialog__body .needPack {
  position: relative;
  left: 343px;
  width: 100px;
  bottom: -82px;
}
.photographDialog .el-dialog .el-dialog__footer {
  padding: 0;
  height: 70px;
  position: relative;
}
.photographDialog .el-dialog .el-dialog__footer p {
  width: 173px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  left: 50%;
  margin-left: -87px;
  bottom: 7px;
  background: #fff;
}
.photographDialog .el-dialog .el-dialog__footer button {
  padding: 0;
  width: 176px;
}
.photographDialog .el-dialog .el-dialog__footer button svg {
  width: 174px;
}
.photographDialog .el-dialog .el-dialog__footer .el-button--primary.is-disabled {
  background: none;
}
.photographDialog .el-dialog .el-dialog__footer .el-button--primary {
  background: none;
}
.photographDialog .el-dialog .el-dialog__header {
  padding: 0;
}
.el-message--warning {
  z-index: 2019!important;
}
