.Release .el-dialog {
  width: 1180px;
  max-height: 585px;
  position: relative;
}
.Release .el-dialog .el-dialog__body {
  padding: 12px 30px 30px 30px;
}
.Release .el-dialog .el-dialog__body .el-table__body-wrapper {
  max-height: 328px;
  overflow-y: auto;
}
.Release .el-dialog .el-dialog__body .submit {
  background: #FE8127;
  width: 80px;
  height: 40px;
  line-height: 40px;
  border-color: #FE8127;
  margin-right: 20px;
  padding: 0;
}
.Release .el-dialog .el-dialog__body .submit:hover {
  background: #e77a2b;
  border-color: #e77a2b;
}
.Release .el-dialog .el-dialog__body .submit:active {
  background: #b65916;
  border-color: #b65916;
}
.Release .el-dialog .el-dialog__body .submit span {
  width: 80px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
}
.Release .el-dialog .el-dialog__body .cancel {
  background: none;
  margin-top: 30px;
  border: 1px solid #FE8127;
  height: 40px;
  width: 80px;
  padding: 0;
  line-height: 40px;
  color: #FE8127;
}
.Release .el-dialog .el-dialog__body .cancel:hover {
  color: #e77a2b;
  border-color: #e77a2b;
}
.Release .el-dialog .el-dialog__body .cancel:active {
  color: #b65916;
  border-color: #e77a2b;
}
.Release .el-dialog .el-dialog__body .cancel span {
  width: 80px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
}
.Release .el-dialog .el-dialog__body .el-table th {
  padding: 0;
  height: 30px;
}
.Release .el-dialog .el-dialog__body .el-table th .cell {
  height: 30px;
  line-height: 30px;
}
.Release .el-dialog .el-dialog__body .el-table--enable-row-transition .el-table__body td {
  padding: 0;
}
.Release .el-dialog .el-dialog__body .el-table--enable-row-transition .el-table__body td .cell {
  padding: 0;
}
.Release .el-dialog .el-dialog__body .el-table--enable-row-transition .el-table__body td input {
  border: none;
  text-align: center;
}
.Release .el-dialog .el-dialog__body .el-table--enable-row-transition .el-table__body td input::-webkit-input-placeholder {
  text-align: center;
}
.Release .el-dialog .el-dialog__body .el-table--enable-row-transition .el-table__body td input::-moz-placeholder {
  text-align: center;
}
.Release .el-dialog .el-dialog__body .el-table--enable-row-transition .el-table__body td input::-ms-input-placeholder {
  text-align: center;
}
.Release .el-dialog .el-dialog__header {
  padding: 20px 30px 10px;
}
