.productDetailDialog .el-dialog {
  width: 1180px;
  min-height: 585px;
  position: relative;
}
.productDetailDialog .el-dialog .el-dialog__body {
  padding: 12px 30px 20px 30px;
}
.productDetailDialog .el-dialog .el-dialog__header {
  padding: 20px 30px 10px;
}
.productDetailDialog .el-dialog .postionBtns {
  position: absolute;
  right: 60px;
  top: 7px;
}
.productDetailDialog .el-dialog .postionBtns button {
  height: 14px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #3672c6;
  line-height: 14px;
  margin-right: 30px;
  margin-left: 0;
}
.productDetailDialog .el-dialog .postionBtns button:last-child {
  margin-right: 0;
}
.productDetailDialog .el-dialog .topTitle {
  height: 17px;
  font-size: 16px;
  line-height: 17px;
  font-family: MicrosoftYaHei;
  font-weight: bold;
  color: #333333;
  margin-bottom: 22px;
}
.productDetailDialog .el-dialog .el-form {
  font-size: 14px;
  overflow-y: hidden;
}
.productDetailDialog .el-dialog .el-form .el-form-item {
  width: 310px;
  margin-right: 90px;
  height: 14px;
  line-height: 14px;
  margin-bottom: 22px;
  color: #777777;
  float: left;
}
.productDetailDialog .el-dialog .el-form .el-form-item:nth-child(3n) {
  margin-right: 0;
}
.productDetailDialog .el-dialog .el-form .el-form-item__label {
  height: 14px;
  line-height: 14px;
  color: #777;
}
.productDetailDialog .el-dialog .el-form .el-input {
  width: 240px;
}
.productDetailDialog .el-dialog .el-form .el-form-item__content,
.productDetailDialog .el-dialog .el-form .el-input,
.productDetailDialog .el-dialog .el-form .el-input__inner,
.productDetailDialog .el-dialog .el-form .el-select__caret {
  height: 14px;
  line-height: 14px;
  color: #333;
}
.productDetailDialog .el-dialog .el-form .remarks {
  width: 860px;
  height: auto;
}
.productDetailDialog .el-dialog .el-form .remarks .el-form-item__content {
  height: auto;
}
.productDetailDialog .el-dialog .tabs {
  height: 30px;
  margin-bottom: 20px;
}
.productDetailDialog .el-dialog .tabs p {
  float: left;
  width: 278px;
  text-align: center;
  line-height: 30px;
  background: #e2e2e2;
  border: 1px solid #e2e2e2;
  cursor: pointer;
}
.productDetailDialog .el-dialog .tabs p.isActive {
  background: #f5f5f5;
  color: #3672C6;
}
.productDetailDialog .el-dialog .technologyContent .title {
  height: 14px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: bold;
  color: #333333;
  line-height: 14px;
  margin-bottom: 20px;
}
.productDetailDialog .el-dialog .technologyContent > div > p {
  float: left;
  height: 26px;
  line-height: 26px;
  padding: 0 11px;
  background: #e9f2fe;
  border: 1px solid #85b1ee;
  border-radius: 4px;
  position: relative;
  margin-right: 30px;
}
.productDetailDialog .el-dialog .technologyContent > div > p:after {
  content: '>';
  position: absolute;
  right: -22px;
}
.productDetailDialog .el-dialog .technologyContent > div > p:last-child {
  margin-right: 0;
}
.productDetailDialog .el-dialog .technologyContent > div > p:last-child:after {
  content: '';
}
