.customer {
  padding: 14px;
}
.customer .row-right .top-btns {
  background-color: #fff;
  margin-bottom: 14px;
  padding: 16px 40px 18px;
}
.customer .row-right .top-btns .el-button {
  border: none;
  margin-right: 16px;
  margin-left: 0;
  padding: 0;
  color: #333333;
}
.customer .row-right .top-btns .el-button img {
  display: block;
  height: 27px;
  width: auto;
  margin: 0 auto 10px;
}
.customer .row-right .top-btns .search-btn {
  float: right;
  overflow: hidden;
}
.customer .row-right .top-btns .search-btn .choose {
  float: left;
  margin-right: 10px;
}
.customer .row-right .top-btns .search-btn .choose .el-select .el-input {
  width: 200px;
  height: 30px;
  border: 1px solid #b8b8b8;
  border-radius: 2px;
}
.customer .row-right .top-btns .search-btn .choose .el-select .el-input--mini .el-input__inner {
  border: none;
}
.customer .row-right .top-btns .search-btn .search {
  float: left;
}
.customer .row-right .top-btns .search-btn .search .el-input-group {
  width: 220px;
  height: 30px;
  border: 1px solid #b8b8b8;
  border-radius: 2px;
}
.customer .row-right .top-btns .search-btn .search .el-input-group .el-input__inner {
  border: none;
  height: 30px;
}
.customer .row-right .top-btns .search-btn .search .el-input-group .el-input-group__append {
  width: 50px;
  height: 30px;
  background: #597398;
  border: 0px;
  border-radius: 0px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 0;
}
.customer .row-right .top-btns .search-btn .search .el-input-group .el-input-group__append .el-button {
  color: #fff;
  margin: 0 11px;
}
.customer .Table {
  width: 100%;
  background: #ddd;
}
.customer .Table .el-table {
  color: #777;
}
.customer .Table .el-table .el-table-column--selection .cell {
  padding-left: 30px;
}
.customer .Table .el-table thead {
  color: #333;
}
.customer .Table .el-table thead tr {
  background-color: #F5F5F5 !important;
}
.customer .Table .el-table thead tr th {
  background-color: #F5F5F5 !important;
  padding: 19px 0;
}
.customer .Table .el-table tbody th {
  padding: 15px 0;
}
.customer .Table .el-checkbox__inner {
  border: 1px solid #999999;
}
.customer .Table .el-checkbox__input.is-checked .el-checkbox__inner,
.customer .Table .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #fff;
  border-color: #999999;
}
.customer .Table .el-checkbox__inner::after {
  border: 1px solid #3672C6 !important;
}
.customer .addlineCustomerDialog .el-dialog {
  width: 414px;
  padding: 20px 20px 30px 30px;
  border-radius: 3px;
}
.customer .addlineCustomerDialog .el-dialog .el-dialog__header {
  padding: 0px 0 49px 0px;
  font-weight: bold;
  font-size: 18px;
}
.customer .addlineCustomerDialog .el-dialog .el-dialog__header .el-dialog__title {
  font-weight: bold;
  color: #333333;
}
.customer .addlineCustomerDialog .el-dialog .el-dialog__body {
  padding: 0;
}
.customer .addlineCustomerDialog .el-dialog .el-dialog__body .el-form-item {
  margin-bottom: 32px;
}
.customer .addlineCustomerDialog .el-dialog .el-dialog__body .el-form-item .el-form-item__label {
  font-weight: 400;
  color: #888888;
  height: 30px;
}
.customer .addlineCustomerDialog .el-dialog .el-dialog__body .el-form-item .errorText {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #f56c6c;
}
.customer .addlineCustomerDialog .el-dialog .el-dialog__body .el-form-item .el-input {
  width: 280px;
}
.customer .addlineCustomerDialog .el-dialog .el-dialog__body .isRequired .el-form-item__label::before {
  content: "*";
  color: #f56c6c;
  position: absolute;
  left: 20px;
}
.customer .addlineCustomerDialog .el-dialog .dialog-footer .el-button {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 4px;
  padding: 5px 26px;
}
.customer .addlineCustomerDialog .el-dialog .dialog-footer .el-button--default {
  border: 1px solid #fe8127;
  color: #fe8127;
}
.customer .addlineCustomerDialog .el-dialog .dialog-footer .el-button--primary {
  background: #fe8127;
}
.add-customer-popover {
  width: 30px!important;
  background: none!important;
  box-shadow: none!important;
  border: none!important;
  padding: 0;
  top: 130px!important;
  left: 20px!important;
}
.add-customer-popover .el-button {
  display: block;
  border: none;
  padding: 12px 0;
  width: 80%;
  border-top: 1px solid #ebeef5;
  border-left: 1px solid #ebeef5;
  border-right: 1px solid #ebeef5;
}
.add-customer-popover .el-button + .el-button {
  margin-left: 0;
  border-top: 0px solid #ebeef5;
}
