*{
    padding: 0;
    margin: 0;

}
html,body,#app{
	color: #696969;
    font-size: 14px;
    width: 100%;
    height: 100%;
    font-family:MicrosoftYaHei!important;
}
.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
    /* .component-fade-leave-active for below version 2.1.8 */ {
    opacity: 0;
}
