.factory {
  height: 100%;
}
.factory > .el-header {
  padding: 0;
  height: 54px!important;
}
.factory > .el-main {
  padding: 0px;
  background: #eaeef7;
  height: 100%;
  overflow-x: hidden;
}
.factory .confirmBtnStyle {
  border: 0;
  background: none;
  outline: none;
  background: #FE8127;
  width: 80px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  border-color: #FE8127;
  margin-right: 30px;
}
.factory .confirmBtnStyle span {
  color: #fff;
  display: block;
}
.factory .confirmBtnStyle:hover {
  background: #e6a23c;
  border-color: #e77a2b;
}
.factory .confirmBtnStyle:active {
  background: #b65916;
  border-color: #b65916;
}
.factory .cancelBtnStyle {
  border: 0;
  background: none;
  outline: none;
  width: 80px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  border: 1px solid #FE8127;
  margin-right: 30px;
}
.factory .cancelBtnStyle span {
  color: #FE8127;
  display: block;
}
.factory .cancelBtnStyle:hover {
  border-color: #e77a2b;
}
.factory .cancelBtnStyle:active {
  background: #b65916;
  color: #fff;
}
.msgPopper {
  top: 42px!important;
  width: 342px!important;
  margin-top: 13px;
  padding: 0;
}
.msgPopper .el-popover {
  padding: 0;
}
.msgPopper .el-popover {
  margin-top: 0;
}
.msgPopper .el-tabs--border-card {
  border: 0;
  box-shadow: none;
}
.msgPopper .el-tabs__item {
  padding: 0 43px;
}
.msgPopper .el-tabs__item.is-top:last-child {
  padding-left: 43px;
}
.msgPopper .el-tabs--top.el-tabs--border-card .el-tabs__item:nth-child(2) {
  padding-left: 43px;
}
.msgPopper .el-tabs--top.el-tabs--border-card .el-tabs__item:last-child {
  padding-right: 43px;
}
.msgPopper .el-tabs__content {
  max-height: 300px;
  overflow-y: auto;
}
.el-dropdown-menu {
  margin-top: 0!important;
}
.errorNotice {
  height: 18px;
  line-height: 20px;
  font-size: 12px;
  color: #f56c6c;
}
